body {
    background-color: #cccccc;
    font-family: sans-serif;
  }


  .player_one a {
    text-decoration: none;
    color: #000000;
    font-size: 20px;
  }

  h1 {
    color: #000000;
    font-size: 30px;
    text-align: center;
    padding: 20px;
    margin-top: 0px;
  }

  .player_one {
	  text-align:left;
    margin-left: 0px;
    margin-right: 0px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 5px;
    border: 2px solid;
  }
h2 {
    color: #000000;
    font-size: 20px;
    text-align: center;
    padding: 5px;
    margin-top: 0px;
  }
.player_two{
	text-align:left;
	width:320px;
	background-color:white;
	padding:5px;
	margin:auto;
	
}
div div p{
	text-align:center;
	font-weight:bold;
	margin-top:0px;
	text-size:10px;
}
.mp3{
	text-align:center;
	width:320px;
	background-color:white;
	padding:5px;
	margin:auto;
}
.play{
	text-align:center;
}